* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
}
#wrapper {
    position: relative;
    margin: 0 auto;
    width: 960px;
    padding: 10px;
}
a.github {
    position: absolute;
    left: 400px;
    color: #666;
    text-decoration: none;
}
a.github svg {
    width: 25px;
    position: relative;
    top: 0.33em;
}
        
#stage {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    top: 0;
    width: 500px;
    height: 600px;
}
#game-board {
    background-color: #454545;
    position: absolute;
    width: 500px;
    height: 500px;
}
.cell {
    position: absolute;
 //   border: 1px solid #ababab;
}
#gutter {
    position: relative;
    top: 500px;
}
div[idx="33554432"] {
    position: absolute;
    top: 510px;
    left: 10px;
    display: inline-block;
    width: 100px;
    height: 100px;
}
#gutter h2.message {
    margin-left: 125px;
    color: #696969;
    font-size: 25px;
    font-family: Helvetica, Arial, Sans;
    line-height: 0.9em;
    position: relative;
    top: 2em;
    opacity: 1;
}
/*#gutter h2:before {
    content: "\ffe9";
    position: relative;
    left: -5px;
    top: 5px;
    font-size: 2.25em;
}*/
.player-piece {
    position: absolute;
    background: linear-gradient(to right, #87e0fd 0%,
				#53cbf1 10%,#05abe0 100%);
    border-radius: 6px;
    border: 1px solid #00a7d5;
    box-shadow: inset 0 0 10px #000;
}
.opponent-piece {
    position: absolute;
    background: linear-gradient(to right, #b4e391 0%,
				#61c419 50%,#b4e391 100%);    
    border-radius: 6px;
    border: 1px solid #00a7d5;
    box-shadow: inset 0 0 10px #000;
}
.modal {
    color: #333;
    position: fixed;
    font-family: Helvetica, Arial, Sans;
    width: 550px;
    height: 350px;
    top: 30%;
    left: 50%;
    margin-left: -275px;
    margin-top: -175px;
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0px 10px 30px #101010;
    padding: 20px;
    
}
.modal dl {
    margin-top: 12.5%;
}
.modal dt {
    display: inline;
    font-weight: bold;
    margin-right: 0.75em;
    font-size: 24px;
    line-height: 2em;
}
.modal dd {
    display: inline;
    font-size: 16px;
}
.modal ol {
    margin-left: 20px;
}
.modal ol > li {
    margin-top: 20px;
}
.hidden {
    opacity: 0;
}
.modal button {
    padding: 1em;
    border-radius: 5px;
    background-color: #ccc;
    color: #333;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #aaa;
}
.modal button:active {
    background-color: #aaa;
}
.modal button:focus {
    outline: 0;
}
